@import "./mixins";
@import "./components/success-dialog";
@import "./components/fail-dialog";
@import "./components/skip-dialog";
@import "./components/qrcode-scanner";
@import "./components/circular-progress";
@import "./pages/scan-page";
@import "./pages/home";

@include reset;
@include success-dialog;
@include fail-dialog;
@include skip-dialog;
@include qrcode-scanner;
@include circular-progress;
@include scan-page;
@include home;

#app {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
