@import "../mixins/dialog";

@mixin fail-dialog {
  #fail-dialog {
    @include dialog;

    .title {
      background-color: red;
    }

    .content {
      .content-checkbox {
        width: 3vw;
        height: 3vw;
        @media (max-width: 768px) {
          width: 9vw;
          height: 9vw;
        }
      }
      .content-checkbox-label {
        font-size: 1.5vw;
        @media (max-width: 768px) {
          font-size: 3.9vw;
        }
      }

      .content-button-warp {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .content-button {
          &.orange {
            background-color: #ffa500;
            border-color: #ffa500;
            &:hover:enabled {
              color: #fff;
              background-color: #d99000;
              border-color: #cc7f00;
            }
          }
        }
      }
    }
  }
}
